<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login - bleed</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="/static/favicon-16x16.png" sizes="16x16" />
<script src="static/tailwind.js"></script>
</head>

<header class="text-gray-600 body-font flex-col md:flex-row shadow-xl shadow-slate-400 rounded-2xl m-4">
  <div class="container mx-auto lg:flex lg:flex-wrap p-5 flex-col xl:flex-row items-center">
    <a class="lg:flex title-font font-medium items-center text-gray-900 mb-4 sm:mb-0">

      <a href = "{{url_for('home')}}"><img  src="static/logo.png" alt="Logo" width="80" class  = "-rotate-6 ">
        </a>
      <span class="text-2xl font-black text-red-600 " , style = "font-family: 'Indie Flower', cursive; ">Bleed "the smart way"</span>
    <nav class="md:ml-auto lg:flex lg:flex-wrap items-center text-base justify-center">
      <a href = "/adminlogin" class="mr-20 underline hover:text-gray-900">Administration login</a>
  </div>
</header>
<body>

<!-- Section 1 -->
<section class="w-full px-8 py-16 bg-blue-200 xl:px-8">
    <div class="max-w-5xl mx-auto">
         <h1 class = "text-center  text-2xl font-black  text-red-600">In-person verfication(Authorized Use Only!!)</h1>
        <div class="flex flex-col items-center md:flex-row">

            <div class="w-full space-y-5 md:w-3/5 md:pr-16">
                <img src="static/admind.png"  class = "object-contain h-99 w-96">
            </div>

            <div class="w-full mt-16 md:mt-0 md:w-2/5">
                <div class="relative z-10 h-auto p-8 py-10 overflow-hidden bg-white border-b-2 border-gray-300 shadow-2xl px-7 rounded-none">
                    <h3 class="mb-6 text-2xl font-black text-center">Admin Login</h3>
                    <form method = "POST" action = "">
                        {{ form.hidden_tag() }}
<!--                    <input type="text" name="email" class="block w-full px-4 py-3 mb-4 border border-2 border-transparent border-gray-200 focus:ring focus:ring-blue-500 focus:outline-none rounded-none" placeholder="Email address">-->
                        {{form.username(class_ = "block w-full px-4 py-3 mb-4 border border-2 border-transparent border-gray-200 focus:ring focus:ring-blue-500 focus:outline-none rounded-none")}}
<!--                    <input type="password" name="password" class="block w-full px-4 py-3 mb-4 border border-2 border-transparent border-gray-200 focus:ring focus:ring-blue-500 focus:outline-none rounded-none" placeholder="Password">-->
                        {{form.password(class_= "block w-full px-4 py-3 mb-4 border border-2 border-transparent border-gray-200 focus:ring focus:ring-blue-500 focus:outline-none rounded-none")}}
                    <div class="block">
                        {{ form.submit(class_ = "w-full px-3 py-4 font-medium text-white bg-blue-500 rounded-none") }}
<!--                        <button class="w-full px-3 py-4 font-medium text-white bg-blue-600 rounded-none">Log Me In</button>-->
                    </div>
                        </form>
<!--                    <p class="w-full mt-4 text-sm text-center text-gray-500">Don't have an account? <a href="{{url_for('register')}}" class="text-blue-500 underline">Sign up here</a> <br><a href="{{url_for('forgotpass')}}" class="text-blue-500 underline">Forget Password?</a></p>-->
                    <p class="w-full mt-4 text-sm text-center text-red-500 "> {{error}} </p>
                </div>
            </div>

        </div>
    </div>
</section>

<!--<h1>-->

<!--   Welcome to login of bleed the smart way-->


<!--</h1>-->
<!--<form method = "POST" action = "">-->
<!--    {{ form.hidden_tag() }}-->
<!--    {{ form.username(class_="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out") }}-->
<!--    {{ form.password }}-->
<!--    {{ form.submit }}-->
<!--</form>-->

<!--<div class="h-screen bg-blue-200 flex justify-center items-center">-->
<!--    -->
<!--  <form class="w-full max-w-xs bg-white flex flex-col py-5 px-8 rounded-lg shadow-lg" method = "POST" action="">-->
<!--      {{ form.hidden_tag() }}-->
<!--    <label class="text-gray-700 font-bold py-2" for="">Username</label>-->
<!--      {{form.username(class_="text-gray-700 shadow border rounded border-gray-300 focus:outline-none focus:shadow-outline py-1 px-3 mb-3")}}-->
<!--    <label class="text-gray-700 font-bold py-2" for="">Password</label>-->
<!--&lt;!&ndash;    <input class="text-gray-700 shadow border rounded border-gray-300 mb-3 py-1 px-3 focus:outline-none focus:shadow-outline" type="password" placeholder="********">&ndash;&gt;-->
<!--      {{form.password(class_= "text-gray-700 shadow border rounded border-gray-300 mb-3 py-1 px-3 focus:outline-none focus:shadow-outline")}}-->
<!--    <div class="flex justify-between items-center my-4">-->
<!--        {{ form.submit(class_= "bg-blue-500 hover:bg-blue-700 text-white font-bold rounded py-2 px-4") }}-->
<!--&lt;!&ndash;      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold rounded py-2 px-4">&ndash;&gt;-->
<!--&lt;!&ndash;        Sign In&ndash;&gt;-->
<!--&lt;!&ndash;      </button>&ndash;&gt;-->
<!--      <a href =  "{{url_for('register')}}" class="pl-9 text-blue-600 hover:text-blue-800 font-bold" href="#">-->
<!--        Not a donor then save life!!-->
<!--      </a>-->
<!--    </div>-->

<!--  </form>-->
<!--</div>-->
<!--<br>-->
<!--<a  href =  "{{url_for('register')}}" > dont have account!! register here</a>-->

</body>
<footer class="text-gray-600 body-font">
  <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
    <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
<img src="static/logo.png" alt="Logo" width="80" class  = "-rotate-6 ">
      <span class="ml-3 text-xl" style = "font-family: 'Indie Flower', cursive; ">bleed the smart way</span>
    </a>
    <p class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">© 2022 bleed the smart way —
      <a href="https://twitter.com/knyttneve" class="text-gray-600 ml-1" rel="noopener noreferrer" target="_blank">@FSE-Project</a>
    </p>
    <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
      <a class="text-gray-500">
        <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
          <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
        </svg>
      </a>
      <a class="ml-3 text-gray-500">
        <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
          <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
        </svg>
      </a>
      <a class="ml-3 text-gray-500">
        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
          <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
          <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
        </svg>
      </a>
      <a class="ml-3 text-gray-500">
        <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
          <path stroke="none" d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
          <circle cx="4" cy="4" r="2" stroke="none"></circle>
        </svg>
      </a>
    </span>
  </div>
</footer>
</html>